<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><span style="color: #590bcb">sc</span>amper</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li ng-repeat="item in ctrl.getMenuItems()" ng-class="{'active': ctrl.isActiveMenuItem($index), 'dropdown': ctrl.hasChildren(item)}">
					
					<!-- Single Menu Item --> 
					<a ng-if="!ctrl.hasChildren(item)" href="#{{item.path}}" ng-click="ctrl.setActiveMenuItem($index)">
						<span ng-show="ctrl.hasGlyph(item)" class="glyphicon {{item.glyph}}" style="font-size: 16px; vertical-align: middle;"></span> {{item.title}}
					</a>
					<!-- /Single Menu Item --> 
					
					<!-- Dropdown Menu Item --> 
					<a ng-if="ctrl.hasChildren(item)" class="dropdown-toggle" data-toggle="dropdown">
						<span ng-show="ctrl.hasGlyph(item)" class="glyphicon {{item.glyph}}" style="font-size: 16px; vertical-align: middle;"></span> {{item.title}} <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat="child in item.children"><a href="#{{child.path}}"> <span ng-show="ctrl.hasGlyph(child)" class="glyphicon {{child.glyph}}"
								style="font-size: 16px; vertical-align: middle;"></span> {{child.title}}
						</a></li>
					</ul> 
					<!-- /Dropdown Menu Item -->

				</li>
            </ul>
		</div>
	</div>
</div>